@model DogShelter.Models.NewsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="FlexBoxColumn">
    <div style="width:70%">
        <div class="container">
            <a class="btn btn-primary" asp-area="Admin" asp-controller="Creator" asp-action="NewPost">Написать пост</a>
        </div>
        @foreach (DogShelter.Models.News news in Model.News)
        {
            <form asp-area="" asp-controller="Home" asp-action="CurrentNew" asp-route-id="@news.ID" style="overflow:hidden">
                <button class="container NewsBlock" style="background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url( @news.ImgPath );
        height: 400px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        overflow: hidden;">
                    <h2>@news.Title</h2>
                    <p>@news.ShortDesc</p>
                </button>
            </form>
            <a class="btn btn-warning" asp-area="Admin" asp-controller="Creator" asp-action="DeletePost" asp-route-id="@news.ID">Удалить пост</a>
        }
    </div>
    <div class="TakeBlock">
        @foreach (DogShelter.Models.Dog dogs in Model.NewestDogs)
        {
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" src="@dogs.ImgPath" data-holder-rendered="true">
                    <div class="card-body">
                        <p class="card-text">@dogs.ShortDesc</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary bg-primary text-white">Узнать больше</button>
                            </div>
                            <small class="text-muted">9 mins чо за хуйня</small>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>