<div class="container mt-3">
    <h1 class="text-center">О нас</h1>
    <div class="d-flex flex-column">
        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/03982beda938ea50bb2500242cfd40f7.png")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">E-shelter  - это  приют для бездомных в Южном округе г. Москвы. Сейчас в нем живет около 20  собак. Большие и маленькие, пушистые и гладкие, веселые и задумчивые - и на всех одна большая мечта - встретить своего человека и найти Дом.</p>
            </div>
        </div>

        <div>
            <div class="float-right p-4">
                <img src="@Url.Content("~/img/bbb3f3564f64317885ea83770202abfd.png")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">Приют совсем недавно начал свой путь и пока не имеет громкого имени или лучшего места. Мы начали свою деятельность в 2019 году, подобрав несколько выброшенных на улицу щенков к себе домой, поскольку оставить их было невозможным, было решено начать поиск нового дома для бедных животных. С этого началась дорога, полная различных преград и продолжающая прокладываться и по сей день.</p>
            </div>
        </div>

        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/scale_1200.png")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">Приют предоставляет возможность людям выбрать себе друзей. Говорят, что друзей не выбирают, но в нашем случае - вы выберете друг друга.</p>
            </div>
        </div>

        <div>
            <div class="float-right p-4">
                <img src="@Url.Content("~/img/FDEWe7qUToQ.png")" style="width:400px;">
            </div>
            <div>
                <p class="fs-1 p-4" style="font-size: 16pt;">В наших стенах вы можете оставить своего друга на время вашего отсутствия в городе. Мы с особой заботой и профессионализмом позаботимся о вашем питомце и вам не придется волноваться о его состоянии.</p>
            </div>
        </div>

        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/45yrfdh54yb45ehb.png")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">
                    Поскольку непредвиденные ситуации это обычное дело, мы также сможем приютить и подыскать вашему найденышу место рядом со своим человеком. В случае, если вы нашли раненую, бездомную или брошенную собаку - обращайтесь к нам. Мы сделаем все что в наших силах чтобы помочь новому жильцу. Также вы можете без утайки передать в надежные руки своего друга, если в вашей жизни появились непосильные для вас трудности. Мы непременно поможем вам и вашей собаке всем, чем сможем.
                </p>
            </div>
        </div>

    </div>
</div>
