
<div class="container mt-3">
    <h1 class="text-center">Помочь приюту</h1>
    <div class="d-flex flex-column">
        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/h546u394w6h843p96j6578.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">E-shelter открылся не так давно и начинал свою жизнь на основе личных накоплений людей, которые поставили себе цель и шли к ней своими силами и плечом к плечу.</p>
            </div>
        </div>

        <div>
            <div class="float-right p-4">
                <img src="@Url.Content("~/img/34t43by45y4h5jys5cjc5rjyej45.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">
                    Поскольку сам приют дело не прибыльное и нацеленное скорее на благотворительность - было особенно сложно найти себе спонсоров, и когда личные сбережения начали слишком сильно истощаться, а зверей только прибавлялось: все велось к тому, что на одном энтузиазме всё не строится и сотрудники приняли решение подать запрос на станавление муниципальным приютом.
                </p>
            </div>
        </div>

        <div>
            <div class="float-left p-4">
                <img src="@Url.Content("~/img/457j567j7fjhgjgykl8yl678l;678.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-3 p-4" style="font-size: 16pt;">Мы все - дружная семья, охотно принемающая к себе в ряды добровольцев, ведь работа в приюте сложная, её много, а платят мало. Когда условия становятся хуже -  достаем средства и вещи из собственных карманов.  Мы работаем с одной целью - видеть как несчастные животные, беззащитно булждающие по бетонным джунглям -наконец нашли дом и своё место в жизни. </p>
            </div>
        </div>

        <div>
            <div class="float-right p-4">
                <img src="@Url.Content("~/img/45745h45yij45iljtjsdrgidj;igfsj5.jpg")" style="width:400px;">
            </div>
            <div>
                <p class="fs-1 p-4" style="font-size: 16pt;">Если вы хотели бы оказать нам любого рода помощь,а она заключается не только в материальной: погулять с собаками, пообщаться с ними, поиграть - все это нужно для их социализации в мире и это бесплатно. Время посещений с 13:00 до 19:00, на прогулку лучше записаться онлайн, заранее. </p>
            </div>
        </div>


        <div>
            <div>
                <p class="fs-1 p-4" style="font-size: 16pt;">"Реквизиты" - наши реквезиты и контактная информация. Мы рады любому вниманию со стороны небезразличных людей. Средства пойдут на лекарства ,корма, транспорт, лежаки и другие мелочи.</p>
            </div>
        </div>
        <div class=" p-4">
            <img src="@Url.Content("~/img/afasdf234fr34t34264.png")" style="margin-left: 20%; margin-right: auto; width:600px;">
        </div>

    </div>
</div>
